flows.json
[{"id":"ee4dc004.3ff7f","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"6a8074a5.9af0dc","type":"ibmiot","z":"","name":"","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"f2f2649a.0d0d98","type":"debug","z":"ee4dc004.3ff7f","name":"","active":true,"console":"false","complete":"false","x":570,"y":240,"wires":[]},{"id":"f2230b92.727e28","type":"ibmiot in","z":"ee4dc004.3ff7f","authentication":"apiKey","apiKey":"6a8074a5.9af0dc","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"123456","applicationId":"","deviceType":"Myjar","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":170,"y":240,"wires":[["10b2ecf.387cf13","49fb4d03.45a944"]]},{"id":"10b2ecf.387cf13","type":"function","z":"ee4dc004.3ff7f","name":"Pressure","func":"global.set('Pressure',msg.payload.Pressure)\nmsg.payload=msg.payload.Pressure\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":180,"wires":[["f2f2649a.0d0d98"]]},{"id":"49fb4d03.45a944","type":"function","z":"ee4dc004.3ff7f","name":"Weight","func":"global.set('Weight',msg.payload.Weight)\nmsg.payload=msg.payload.Weight\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":300,"wires":[["f2f2649a.0d0d98"]]},{"id":"9649c692.c412a8","type":"http in","z":"ee4dc004.3ff7f","name":"Sensordata","url":"/sensordata","method":"get","upload":false,"swaggerDoc":"","x":130,"y":540,"wires":[["4d9ba500.bd86dc"]]},{"id":"4d9ba500.bd86dc","type":"function","z":"ee4dc004.3ff7f","name":"","func":"msg.payload={'Pressure':global.get(\"Pressure\"),'Weight':global.get(\"Weight\")}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":540,"wires":[["57d996bc.105548"]]},{"id":"57d996bc.105548","type":"http response","z":"ee4dc004.3ff7f","name":"","statusCode":"","headers":{},"x":630,"y":540,"wires":[]}]